html {box-sizing:border-box;}

*, :after, :before {box-sizing:inherit}

blockquote,body,button,figure,form,h1,h2,h3,h4,h5,h6,html,img,input,li,ol,p,select,textarea,ul {padding:0;margin:0;}

*, :after, :before {
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    box-sizing:inherit;
    text-rendering:optimizeLegibility;
    -webkit-font-kerning:auto;
    font-kerning:auto}

html {
    box-sizing:border-box;
    -webkit-text-size-adjust:100%}

div.cont {
    padding-top: 5%;
}

div#chart {
    padding-left: 0%;
}




svg {
  display: inline-block;
  position: absolute;
  z-index: 2;
  height: 1500px;
  width: 100%
}

svg text {
    pointer-events: all;
    font-size: 15;
    font-family: 'Chakra Petch', sans-serif;
}
svg .municipality {
    fill: #C5C6B6;
    stroke: #fff;
    stroke-width: 0.1;
    opacity: 1.0;
}
svg .municipality-label {
    fill: black;
    font-size: 7px;
    font-weight: 300;
    text-anchor: middle;
}

div #legend {
    width: 300px;
        height: 500px;
      position: fixed;
      z-index: 2;
      top: 26%;
      right: 5%;
      background: #eee;
      opacity: 0.7;
      overflow-x: hidden;
      padding: 8px 0;
}

div #legend svg {
    width: 100%;
    height: 100%;
}

g#places .municipality-label {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 5px;
}

svg #map {
    text-anchor: middle;
    font-family: 'Do Hyeon', sans-serif;
}

svg #map text{
    font-size: 1.2px;
    text-anchor: middle;
    font-family: 'Do Hyeon', sans-serif;
}


.col-sm-2 {
    font-size:100;
    display: table-row;
}

@media screen and (min-width: 575px) {
.col-sm-2 {
    font-size:100;
    display: table-row;
}
}

.align-items-center {
    z-index: 3;
}

p#value-time {
    position: absolute;
    padding-left: 7%;
    font-size: 50px;
    font-family: 'Chakra Petch', sans-serif;
    color: #00FF41;
    z-index: 3;
    bottom: 15%;
}

@media screen and (min-width: 890px) and ( min-height: 600px ){
    p#value-time {
    position: fixed;
    padding-left: 7%;
    top: 65%;
    font-size: 100px;
    font-family: 'Chakra Petch', sans-serif;
    opacity: 0.9;
    z-index: 3;
    color: #00FF41;
    }
}



@media screen and (min-width: 50em) {
div #slidecontainer {
    width: 100%;
    padding-left: 0%;
    position: relative;
  }
}

.col-sm {
    position: fixed;
    z-index: 3;
    bottom: 13%;
    width: 40%;
    height: 5%;
}

@media screen and (min-height: 600px) and (min-width: 890px) {
.col-sm {
    position: fixed!important;
    z-index: 3;
    top: 86%;
    width: 45%!important;
}
}
g.slider {
    position: fixed;
}

svg.slider-map {
    display: inline-block;
    position: absolute;
    top: 85px;
}

@media screen and (min-height: 600px) and (min-width: 890px) {
    svg.slider-map {
        display: inline-block;
    position: absolute;
    top: 69px;
    left: 0;
    }
}

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    z-index: 3;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

.row {
    display: block!important;
}


/* div#slider-time {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
    left: 6%;
  } */


div#slider-time {
    bottom: 70px;
    position: relative;
    width: 100%;
    padding-left: 7%;
}

  @media screen and (min-height: 600px) and (min-width: 890px) {
    div#slider-time {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        vertical-align: top;
        overflow: hidden;
        left: 6%;
        bottom: 80px;
      }

  }

  

  span#demo {
    font-family: 'Do Hyeon', sans-serif;
    font-weight: bold;
    font-size: 1000%;
    color: #777;
  }

  .node rect {
    cursor: pointer;
    fill: #fff;
    fill-opacity: .5;
    stroke: #3182bd;
    stroke-width: 1.5px;
  }

  .node text {
    font: 10px sans-serif;
    pointer-events: none;
  }

  path.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
  }

  rect {
    x: 10;
    y: 10;
    width: 80;
    height: 80;
    fill: 'red';
  }

div #slidecontainer {
    height: auto;
    width: 100%;
}