{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yelprizona</title>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script src="{% static 'topojson/topojson.min.js' %}"></script>
    
</head>
<body>
    <script>
        var topourl = "{% static 'topojson/AZ_topo.json' %}"
    </script>

    <!-- <script src="{% static 'yelp_az/main_dist.js' %}"></script> -->

    <div id="slidecontainer"></div>

    <script src="{% static 'yelp_az/slidedate/main_slide.js' %}"></script>
</body>
</html>